<div class="position-fixed w-100 h-100 top-0 start-0 my-bg-secondary">
    <div class="container">
        <div class="d-flex flex-column">
            <i class="bi bi-x-octagon" (click)="onClose()"></i>
            <div *ngIf="VideoInputDevices.length===0">
                <h2>У вас нет камер</h2>
            </div>
            <div class="d-flex flex-column" *ngIf="VideoInputDevices.length>=1">
                <select *ngIf="VideoInputDevices.length>=2" class="form-select form-select-lg mb-3"
                    aria-label=".form-select-lg example" (change)="onChangeSelect(select)" #select>
                    <option selected *ngFor="let item of VideoInputDevices">{{item.label}}</option>
                </select>
                <video #video class="border border-dark rounded mx-auto"></video>
            </div>
        </div>
    </div>
</div>