.my-container {
    display: flex;
    background: rgb(149 252 221);
}

.are-you-here-text {
    font-size: 2em;
    font-weight: 700;
}

.home-page {
    user-select: none;
    max-width: 6em;
    margin-right: 0;
    margin-left: auto;
    cursor: pointer;

    &:hover {
        background: white
    }
}

h4 {
    user-select: none;
}